
//========== Buttons ==========//

.button {
    display: inline-block;
    background-color: get-color('secondary');
    border: 0;
    border-radius: v(border-radius);
    color: get-color('primary');
    padding: get-size('300') get-size('500');
    transition: background-color v(transition-duration) v(transition-timing);
    @include apply-utility('weight', 'bold');

    &:hover {
        color: get-color('primary');
        @include apply-utility('bg', 'white');
    }
    &__secondary {
        background-color: get-color('primary');
        color: get-color('secondary');
        border: 2px solid get-color('secondary');
    }
}


.propose-talk {
    background: linear-gradient(90deg, get-color('fs-skyblue'), get-color('fs-pink'));
    color: get-color('white');
    &:hover {
        color: get-color('fs-pink');
    }
}