<div class="inner box-flex pt-800 pb-1000 mb-1000">
  <div class="laptop:width-half">
    <h3 class="green-banner">
      <a href="/talk" class="color-secondary">Don't miss our next show!</a>
    </h3>
    <div class="pr-500 pl-500">
      <p class="mt-500">
        Join our community to receive invitations to events, recordings, and networking opportunities among other Backstage users.
      </p>
      <br/>
      <a href="/join" target="_blank" class="button-with-pointer">
        <span class="button">
          See you there
        </span>
        <img src="/images/button-pointer.png" alt=""/>
      </a>
    </div>
  </div>
  <div class="laptop:width-half">
    <h3 class="green-banner">
      <a href="/talk" class="color-secondary">Propose a talk</a>
    </h3>
    <div class="pr-500 pl-500">
      <p class="mt-500">
        We want to create a space where everyone shares their experiences and ideas with Backstage, so we can all grow together.
        <a href="/talk" target="_blank" rel="noopener nofollow">What do you want to talk about?</a>
      </p>
    </div>
  </div>
</div>

<footer id="footer" class="footer mt-1000">
  <div class="footer-inner inner tablet:box-flex pt-600 pb-600">
    <p class="mb-500">
      <a href="/">Homepage</a>
    </p>
    <p class="mb-500">
      <a href="https://frontside.com/privacy-policy">Privacy Policy</a>
    </p>
    <p class="mb-500">
      <a href="https://frontside.com/code-of-conduct">Code of Conduct</a><br/>
    </p>

    {% include 'components/social-icons.njk' %}

  </div>
  <div class="text-center mt-800 mb-800 pl-500 pr-500">
    <p class="text-400">
      OpenMic is an event organized by
      <a href="https://frontside.com">Frontside Software</a>,
      <a href="https://roadie.io">Roadie</a>, and other community members.
      <br/>
      OpenMic is not officially affiliated with the Backstage Project or the Linux Foundation.
    </p>
    <p class="text-300 mt-500">
      © 2021 Frontside Software, Inc
    </p>
  </div>

</footer>
