
<footer id="footer" class="footer mt-1000">

    <div class="footer-inner inner tablet:box-flex pt-600 pb-600">
        <p class="mb-500">
            <a href="/">Homepage</a>
        </p>
        <p class="mb-500">
            <a href="https://frontside.com/privacy-policy">Privacy Policy</a>
        </p>
        <p class="mb-500">
            <a href="https://frontside.com/code-of-conduct">Code of Conduct</a><br />
        </p>
        

        {% include 'components/social-icons.njk' %}

    </div>
    <div class="text-center mt-800 mb-800 pl-500 pr-500">
        <p class="text-400">
            OpenMic is an event organized by Frontside and other community members. <br />
            OpenMic is not officially affiliated with the Backstage Project or the Linux Foundation.
        </p>
        <p class="text-300 mt-500">
            © 2021 Frontside Software, Inc
        </p>
    </div>

</footer>

