<nav id="mobile-nav" class="mobile-nav width-full height-screen box-flex bg-primary pl-700 pr-700 pt-800 z-20 mobileXL:box-hidden" aria-label="Mobile">

    {% set navigation = collections.all | eleventyNavigation %}

    <ul class="width-full">

        {%- for item in navigation %}

        <li class="item">

            <a href="{{ item.url | url }}" class="link box-block color-white text-600 {{ 'active' if item.url === page.url }}" {{ 'aria-current=page' if item.url === page.url }}>{{ item.title }}</a>

        </li>

        {%- endfor %}

    </ul>

</nav>

<a href="/rsvp" class="mobile-nav-toggle box-flex width-full bg-secondary z-20 mobileXL:box-hidden" aria-label="Mobile Navigation Toggle" aria-expanded="false" aria-controls="mobile-nav">

    <span class="mobile-nav-label text-400 color-primary">
        Next show: {{ eventMonth  }} {{ eventDay  }}th
    </span>
    <span class="nav-link-rsvp color-primary weight-bold text-400 ml-300">
        RSVP
    </span>

</a>

