<nav id="nav" class="nav box-hidden mobilexl:box-block" aria-label="primary">

  <ul class="menu mobilexl:box-flex">
    <li class="item ml-400">
      <a href="/join" target="_blank" class="button-with-pointer">
        {# <span class="color-white pr-500">
                {% if eventDateUS %}
                    Next show: {{ eventDateUS  }}
                {% else %}
                    Join our next show
                {% endif %}
                </span> #}

        <span class="link link-get-started bg-secondary box-block color-primary text-400 weight-bold pl-500 pr-500">
          Join us
        </span>
        <img src="/images/button-pointer.png" alt=""/>
      </a>
    </li>

  </ul>

</nav>
