<span class="gradient-line gradient-line__gloomy"></span>
<div class="scrolling-text">
  <div>
    <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text class="stroke-text" x="50%" y="50%">
        {# Next event:
        {{ eventDateUS  }}
        {{ eventTimeEST }}
        /
        {{ eventTimeCET }} #}
        Next Unconference: Summer 2022
      </text>
    </svg>
    <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text class="stroke-text" x="50%" y="50%">
        Next Unconference: Verano 2022
      </text>
    </svg>
    <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text class="stroke-text" x="50%" y="50%">
        Next Unconference: Sommar 2022
      </text>
    </svg>
    <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text class="stroke-text" x="50%" y="50%">
        Next Unconference: Estate 2022
      </text>
    </svg>
    <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <text class="stroke-text" x="50%" y="50%">
        Next event: Summer 2022
      </text>
    </svg>
  </div>
</div>
<span class="gradient-line gradient-line__gloomy"></span>
