---
layout: all-recordings
meta_title: Recordings
meta_description: Find the recordings of our previous events here.
title: Open Mic Recordings
sub_heading: We’re a casual get together of Backstage users sharing their experiences and helping each other
---
