
//==========  Header  ==========//

// logo
.logo {
    --logo-size: #{get-size('500')};
    font-size: v(logo-size);
    margin: 0 auto;

    &:hover {
        @include apply-utility('color', 'secondary');
    }
    background: url(/images/logo.png) no-repeat center center;
    background-size: contain;
    width: 175px;
    min-height: 45px;
    text-indent: -1000px;
    overflow: hidden;
}

@include media-query('mobileXL') {

    .logo {
        --logo-size: #{get-size('600')};
        margin: 0 auto 0 0;
    }
}

@include media-query('mobileXL') {

    .header-inner {
        align-items: center;
        justify-content: space-between;
    }
}


