---
layout: base
---

<main id="main" class="main inner box-flex pt-1000 pb-1000" tabindex="-1">
    <header class="hero page-header laptop:box-flex">
        <div class="laptop:width-half">
            <h1 class="hero--title">
                A community of people building <img src="/images/portal-icon.png" alt="" class="inline-img-decor" /> developer portals
            </h1>
            <p class="hero--description">{{ sub_heading }}</p>
            <span class="gradient-line mt-1000 mb-800"></span>
            <h3 class="mb-500">Featuring <img src="/images/decor-eye.png" alt="" class="inline-img-decor" /></h3>
            <div class="tablet:box-flex">
                <div class="featured-speaker tablet:width-half mb-500">
                    <div class="speaker-avatar">
                        <img src="/images/speakers/elton-john.png" alt="Speaker portrait" class="speaker-avatar--speaker-pic" />
                        <img src="/images/logos/frontside.png" alt="Company logo" class="speaker-avatar--company-icon" />
                    </div>
                    <div>
                        <strong class="featured-speaker--name">Elton John</strong>
                        <em class="featuring-speaker--role">Role at company</em>
                    </div>
                </div>
                <div class="featured-speaker tablet:width-half mb-500">
                    <div class="speaker-avatar">
                        <img src="/images/speakers/lady-gaga.png" alt="Speaker portrait" class="speaker-avatar--speaker-pic" />
                        <img src="/images/logos/frontside.png" alt="Company logo" class="speaker-avatar--company-icon" />
                    </div>
                    <div>
                        <strong class="featured-speaker--name">Lady Gaga</strong>
                        <em class="featuring-speaker--role">Role at company</em>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-illustration laptop:width-half">
            <img src="/images/hero-header@1.5x.png" alt="" />
        </div>
    </header>
    {# <div class="content flow">

        {{ content | safe }}

    </div> #}
</main>

<div class="home-nextshow-banner mb-1000">
    <span class="gradient-line gradient-line__gloomy"></span>
    <div class="scrolling-text">
        <div>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: MARCH 24TH @ 9am EST</text>
            </svg>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: 24TH OF MARCH @ 15h CET</text>
            </svg>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: MARCH 24TH @ 9am EST</text>
            </svg>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: 24TH OF MARCH @ 15h CET</text>
            </svg>
        </div>
    </div>
    <span class="gradient-line gradient-line__gloomy"></span>
</div>

<div class="main inner box-flex pt-800 pb-800">
    <div class="agenda-header laptop:box-flex">
        <h2 class="agenda-title green-banner" id="agenda">
            <a href="#agenda" class="color-secondary">
                Agenda: March 24th, 2021 / ONLINE / 60 mins
            </a>
        </h2>
        <div class="hosted-by mt-800">
            <span class="hosted-by--title"><span>Hosted by</span></span>
            <span class="hosted-by--name"><span>Taras Mankovski</span></span>
            <span class="hosted-by--role"><span>CEO at Frontside Software</span></span>
        </div>
    </div>
    <ol class="talks-list">
        <li class="talks-item laptop:box-flex">
            <div class="talk-time">
                <span class="talk-time--time green-banner">
                    15:00h CET / 9:00am EST
                </span>
            </div>
            <div class="talk-box laptop:box-flex align-center">
                <div class="speaker-avatar speaker-avatar__talk">
                    <img src="/images/speakers/elton-john.png" alt="Speaker portrait" class="speaker-avatar--speaker-pic" />
                    <img src="/images/logos/frontside.png" alt="Company logo" class="speaker-avatar--company-icon" />
                </div>
                <div class="talk-box--text">
                    <h3>Mdjei ehurf slkde</h3>
                    <strong>Elton John, role at Company</strong>
                    <p class="mt-500">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </li>
        <li class="talks-item laptop:box-flex">
            <div class="talk-time">
                <span class="talk-time--time green-banner">
                    15:30h CET / 9:30am EST
                </span>
            </div>
            <div class="talk-box laptop:box-flex align-center">
                <div class="speaker-avatar speaker-avatar__talk">
                    <img src="/images/speakers/lady-gaga.png" alt="Speaker portrait" class="speaker-avatar--speaker-pic" />
                    <img src="/images/logos/frontside.png" alt="Company logo" class="speaker-avatar--company-icon" />
                </div>
                <div class="talk-box--text">
                    <h3>Jdurm håj aeckm</h3>
                    <strong>Lady Gaga, role at Company</strong>
                    <p class="mt-500">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </li>
    </ol>
    <div class="join-us">
        <p>
            Join us!
        </p>
        <a href="#rsvp" class="button-with-pointer">
            <span class="button">
                RSVP
            </span>
            <img src="/images/button-pointer.png" alt="" />
        </a>
    </div>
</div>

<div class="home-nextshow-banner mt-1000 mb-1000">
    <span class="gradient-line gradient-line__gloomy"></span>
    <div class="scrolling-text">
        <div>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: MARCH 24TH @ 9am EST</text>
            </svg>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: 24TH OF MARCH @ 15h CET</text>
            </svg>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: MARCH 24TH @ 9am EST</text>
            </svg>
            <svg class="scrolling-text--item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <text class="stroke-text" x="50%" y="50%">NEXT SHOW: 24TH OF MARCH @ 15h CET</text>
            </svg>
        </div>
    </div>
    <span class="gradient-line gradient-line__gloomy"></span>
</div>


<div class="main inner box-flex pt-800 pb-800 mb-1000">
    <div class="laptop:width-half">
        <h3 class="green-banner">
            <a href="#talk" class="color-secondary">Propose a talk!</a>
        </h3>
        <div class="pr-500 pl-500">
            <p class="mt-500">
                We want to make these events an open mic for everyone using Backstage! We want everyone to share their experiences and ideas, so we can all grow together. 
            </p>
            <p class="mt-500">
                Talks could be about things you have learned when adopting Backstage in your organization. Or, if you're a plugin author, this is a perfect space to present it to the community.
            </p>
            <a href="#talk" class="button mt-500">
                Propose a talk
            </a>
        </div>
    </div>
</div>