---
layout: base
---

<main id="main" class="main inner box-flex pt-1000 pb-300" tabindex="-1">
  <header class="hero page-header laptop:box-flex">
    <div class="laptop:width-half">
      <h1 class="hero--title">
        {{ title }}
      </h1>
      <p class="hero--description">{{ meta_description }}</p>

      <span class="gradient-line mt-1000 mb-800"></span>
    </div>
    <div class="hero-illustration laptop:width-half">
    </div>
  </header>
</main>

<div class="main inner box-flex pt-400 pb-900">
  <h3 class="mb-400">
    Recordings
    <img src="/images/decor-eye.png" alt="" class="inline-img-decor"/>
  </h3>
  <ol class="talks-list">
    {% for talk in talks %}
      <li class="talks-item laptop:box-flex">
        {% include "components/talk-card.njk" %}
      </li>
    {% endfor %}
  </ol>
</div>
